Source: ros-groovy-glc
Section: misc
Priority: extra
Maintainer: k-okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-glc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The glc package
